//Text Primary
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

//Gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Text Neutral
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

//Typography
$font-size: 12px;

*,
*::before,
*::after {
  margin: -2px 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.3;
  background-image: linear-gradient(180deg, $soft-violet, $soft-blue);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

h1 {
  font-size: 2.3rem;
  padding-bottom: 2rem;
  color: $very-dark-desaturated-blue;
}

h2 {
  color: $very-dark-grayish-blue;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.75rem;
}

p {
  color: $dark-grayish-blue;
  font-size: 12px;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $very-dark-grayish-blue;
}

.container {
  max-width: 1110px;
  margin: 40px auto;
  overflow: auto;
  padding: 0 20px;
}

.card {
  padding: 6rem 0;
  position: relative;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  border-radius: 25px;
  height: 100%;
  margin-bottom: 2.3rem;
  box-shadow: 3px 25px 20px -5px rgba(29, 29, 29, 0.3);
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.dotted-border {
  border-bottom: 1px dotted #000;
  padding: 0.75rem 0;
  display: none;
}

#main-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side {
  overflow: hidden;
}

.right-side {
  //padding: 4.5rem 2.5rem;
  padding: 2.5rem;
  margin-top: 4rem;
}

.right-side .faq {
  position: relative;
  padding: 0.4rem 1.2rem 0.4rem 0;
  margin-right: 6rem;
  border-bottom: 1px solid rgba(29, 29, 29, 0.1);
  margin-bottom: 0.4rem;
}


.right-side .arrow-down {
  position: absolute;
  top: 0;
  right: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  padding-top: 1rem;
}

.question {
  display: flex;
  justify-content: space-between;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.active .arrow-down {
  transform: rotate(-180deg);
  transition: rotate .1s ease-in-out;

.clickable:hover {
  display: block;
  transition: .1s;
}

.right-side-inner {
  height: 370px;
  width: 100%;
}

//Vectors
.designs {
  position: relative;
  height: 100%;
  background-image: url("/images/bg-pattern-desktop.svg");
  background-position: 110% 70%;
  background-repeat: no-repeat;
}

.designs img {
  position: absolute;
}

.woman {
  position: absolute;
  top: 70px;
  left: -90px;
  height: 70%;
}
.woman-mobile {
  display: none;
}

.box {
  position: absolute;
  bottom: 340px;
  left: -70px;
}

//Mobile
@media (max-width: 375px) {
  .card {
    padding-top: 7rem;
  }
  .content {
    grid-template-columns: 1fr;
  }

  .designs {
    background-image: none;
  }

  .right-side {
    //padding: 4.5rem 2.5rem;
    padding: 4rem;
    margin: 4.5rem 0;
  }
  .container {
    max-width: 365px;
    margin: auto;
  }
  .box {
    bottom: 640px;
    left: 12px;
    transform: scale(0.4);
    z-index: 10;
  }
  .woman-mobile {
    position: absolute;
    display: inline-block;
    transform: scale(0.3);
    top: -200px;
    left: -210px;
    height: 70%;
  }
  h1 {
    text-align: center;
    padding-top: 1.3rem;
  }
  .right-side {
    padding: 0 4rem;
  }
  .right-side .faq {
    margin-right: 0;
  }
}
